.App {
  text-align: center;
  display:flex; 
  flex-direction:row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.chart-div {
  margin: 5rem;
  width: 40%;
}

